<h1 mat-dialog-title>Create/Edit</h1>
<form [formGroup]="checkoutForm">
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [value]="data.firstName" placeholder="first name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput [value]="data.lastName" placeholder="last name" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
      <input matInput [value]="data.age" placeholder="age" formControlName="age">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Contact" formControlName="contact">
      <mat-option value="line">Line</mat-option>
      <mat-option value="email">Email</mat-option>
      <mat-option value="facebook">Facebook</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field *ngIf="checkoutForm.value.contact === 'line'">
    <input matInput [value]="data.line" placeholder="line" formControlName="line">
  </mat-form-field>
  <mat-form-field *ngIf="checkoutForm.value.contact === 'email'">
    <input matInput [value]="data.email" placeholder="email" formControlName="email">
  </mat-form-field>
  <mat-form-field *ngIf="checkoutForm.value.contact === 'facebook'">
      <input matInput [value]="data.facebook" placeholder="facebook" formControlName="facebook">
    </mat-form-field>
  
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">cancel</button>
  <button mat-raised-button (click)="onSave(checkoutForm.value, data.id)">save</button>
</div>
</form>